<li class = 'row'>
	<div class=' col-md-6'>
		<div class = 'row element-title'>
			<%= link_to task.name, task %>
		</div>
		<div class = 'row element-description'>
			<span><%= task.description %></span>
		</div>
	</div>
</li>