<li id="element">
  <div class = "row">
    <%= link_to task.name, task, class: "name-link" %>
  </div>
  <div class = "row">
    <span class="description"><%= task.description %></span>
  </div>
</li>