<% provide(:element_title, project.title) %>
<% provide(:element_description, project.description) %>
<% provide(:link, project) %>
<li id="element">
  <div class = "row">
    <%= link_to project.title, project, class: "name-link" %>
  </div>
  <div class = "row">
    <span class="description"><%= project.description %></span>
  </div>
</li>