<% provide(:element_title, project.title) %>
<% provide(:element_description, project.description) %>
<% provide(:link, project) %>
<li class = 'row'>
	<div class=' col-md-6'>
		<div class = 'row element-title'>
			<%= link_to project.title, project %>
		</div>
		<div class = 'row element-description'>
			<span><%= project.description %></span><br>
			<span>Currently <%=project.tasks.count%> tasks</span>
		</div>
	</div>
</li>