<li id="project-<%= project.id %>">
  <h3 class="project_name">Project: <%= project.title %></h3>
  <span class="project_description">Description: <%= project.description %></span>
  <%= link_to "View", project %>
</li>