@import "bootstrap-sprockets";
@import "bootstrap";

$navy: #003049;
$citrus: #D62828;
$mango: #F77F00;
$golden: #FCBF49;
$mint: #EAE2B7;

$dark_purp: #6F58C9;
$light_purp: #7E78D2;
$lavender: #B6B8D6;
$lime: #BDEDE0;
$pink: #F5E6E8;
$white: #FFFFFF;
$black: #000000;

body {
  padding: 0px;
  font-family: 'Sunflower';
  background-color: $lavender;
  color: $light_purp;
}

label {
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}

li {
  list-style: none;
}

a{

  &:hover{
    text-decoration: none;
  }
}

.page_title {
  margin: 0px;
  padding: 20px;

  h1{
    font-size: 50px;
    color: $dark_purp;
    margin-bottom: 20px;
  }
}

.nav {
  background-color: $lime;
  padding: 15px 0px 10px 0px;
  margin-bottom: 25px;

  a{
    padding: 7px;
    color: $light_purp;
    border-radius: 10px;
    margin: 10px;

    &:hover{
      text-decoration: none;
      color: $pink;
    }
  }

}

.sub_title {
  color: $dark_purp;
  font-size: 30px;
  margin-bottom: 25px;
}

.btn{
  padding: 7px;
  color: $light_purp;
  border-radius: 10px;
  background-color: $pink;
  margin: 10px;

  &:hover{
    text-decoration: none;
    color: $lavender;
    background-color: $dark_purp;
  }
}

.delete{
  background-color: $citrus;
  color: $white;

  &:hover{
    color: $black;
    background-color: $citrus;
  }
}

.form{
  margin: 5px 200px;
}

.form-control{
  padding: 5px;
  background-color: $pink;
  color: $dark_purp;
}

.submit{
  margin-top: 10px;
  padding: 5px;
  background-color: pink
}

.element-title{
  background-color: $light_purp;
  margin: 0px;
  text-align: center;
  padding: 0px 20px;
  font-size: 25px;

  a{
    color: $lavender;

    &:hover{
      color: $lime;
    }

  }

}

.element-description{
  background-color: $lime;
  margin: 0px;
  padding: 5px;
  margin-bottom: 25px;
  font-size: 20px;
}

.debug{
  margin-top: 25px;
}




